body {
    margin: 0;
}

.container {
    background-color: #333;
    padding: 1rem;
    margin-top: 1rem;
}

.draggable {
    padding: 1rem;
    background-color: white;
    border: 10px solid black;
}

.dragging {
    opacity: 0.3;
}

.draggedOver {
    background-color: blue;
}
