:root {
    --background-color: #ffc700;
    --bs-primary-rgb: #11296c;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    color: var(--bs-primary-rgb);
    font-weight: 300;
    font-size: 1.2rem;
    background-image: url('../img/sky.jpg');
}

h1,h2,h3,h4,h5 {
    font-family: 'Unbounded', cursive;
    font-weight: 800;
}

.container-fluid-custom {
    max-width: 3200px;
}

.btn {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    border-radius: 2rem;
}

.home-title::before {
    content: url('../img/stars.svg');
    position: absolute;
    left: -50px;
    top: -30px;
    transform: scale(0.1);
}

.home-title::after {
    content: url('../img/stars.svg');
    position: absolute;
    right: -50px;
    bottom: -30px;
    transform: scale(0.1);
}
