table, th, td {
    border: 1px solid black;
}

table.sortable th[aria-sort="descending"]
span::after {
    content: "▼";
}

table.sortable th[aria-sort="ascending"]
span::after {
    content: "▲";
}
