<div class="container-fluid container-full-height py-md-5 mb-5">
    <main>
        <p class="fs-4 mb-4">
            View Note
        </p>
        <h3 class="card-title"></h3>
            <%= note.title %>
        </h3>
        <div class="card-body">
            <%= note.note %>
        </div>
    </main>
</div>
